In [1]:
import pandas as pd

In [6]:
iphone_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/iphone.csv', index_col = 0)

In [ ]:
iphone_df

In [ ]:
iphone_df.loc['iPhone 8', '메모리']

In [ ]:
iphone_df.loc['iPhone X', :]

In [ ]:
iphone_df.loc['iPhone X']

In [ ]:
type(iphone_df.loc['iPhone X'])

In [ ]:
iphone_df.loc[:, '출시일']

In [ ]:
iphone_df['출시일']

In [ ]:
iphone_df.loc['iPhone X', :]

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/broadcast.csv', index_col = 0)
df

In [ ]:
df.loc[2016, 'KBS']

In [ ]:
df['JTBC']

In [ ]:
df[['SBS','JTBC']]

In [ ]:
samsung_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/samsong.csv')
hyundai_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/hyundee.csv')

In [ ]:
samsung_df

In [ ]:
hyundai_df

In [ ]:
df1 = samsung_df[['요일', '문화생활비']]
df1

In [ ]:
df2 = hyundai_df[['요일', '문화생활비']]
df2

In [ ]:
day = samsung_df['요일']
day

In [ ]:
day = pd.DataFrame(samsung_df['요일'])
day

In [ ]:
samsong = pd.DataFrame(samsung_df['문화생활비'])
samsong

In [ ]:
day = samsung_df['요일']
samsong_pay = samsung_df['문화생활비']
hyundai_pay = hyundai_df['문화생활비']

dict1 = {
    'day' : day,
    'samsong' : samsong_pay,
    'hyundee' : hyundai_pay
}

df = pd.DataFrame(dict1)
df

In [ ]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

In [ ]:
type(iphone_df.loc[['iPhone X', 'iPhone 8']])

In [ ]:
iphone_df[['출시일', '메모리']]

In [ ]:
iphone_df.loc['iPhone 8':'iPhone XS']

In [ ]:
iphone_df.loc['iPhone 7':'iPhone X', '메모리':'Face ID']

In [ ]:
iphone_df.loc[[True, False, True, True, False, True, False]]

In [ ]:
iphone_df['디스플레이'] > 5

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

In [ ]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

In [ ]:
condition = (iphone_df['디스플레이'] > 5) | (iphone_df['Face ID'] == 'Yes')
iphone_df[condition]

In [ ]:
condition = df['SBS'] < df['TV CHOSUN']
df.loc[condition, ['SBS', 'TV CHOSUN']]

In [ ]:
iphone_df.iloc[2, 4]

In [ ]:
iphone_df.iloc[[1, 3], [1,4]]

In [ ]:
iphone_df.iloc[3:, 1:4]

In [ ]:
iphone_df.loc['iPhone 8', '메모리']

In [ ]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'

In [ ]:
iphone_df

In [ ]:
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'

In [ ]:
iphone_df

In [ ]:
iphone_df.loc['iPhone 8']

In [ ]:
iphone_df.loc['iPhone 8'] = ['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No']
iphone_df

In [ ]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']
iphone_df

In [ ]:
iphone_df['Face ID'] = ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']
iphone_df

In [ ]:
iphone_df['Face ID'] = 'Yes'
iphone_df

In [ ]:
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

In [ ]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

In [ ]:
iphone_df.loc['iPhone 7':'iPhone X'] = 'O'
iphone_df

In [ ]:
iphone_df['디스플레이'] > 5

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'
iphone_df

In [ ]:
iphone_df.iloc[[1,4], [1, 3]] = 'v'
iphone_df

In [ ]:
iphone_df.loc['iPhone XR'] = ['2018-10-26', 6.1, '3GB', 'iOS 12.0.1', 'Yes']
iphone_df

In [ ]:
iphone_df['제조사'] = 'Apple'
iphone_df

In [ ]:
iphone_df.drop('iPhone XR', axis = 'index', inplace = False)

In [ ]:
iphone_df

In [ ]:
iphone_df.drop('iPhone XR', axis = 'index', inplace = True)

In [ ]:
iphone_df

In [ ]:
iphone_df.drop('제조사', axis = 'columns', inplace = True)
iphone_df

In [ ]:
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis = 'index', inplace = True)
iphone_df

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/body_imperial1.csv', index_col = 0)
df

In [ ]:
df.loc[1, 'Weight (Pound)'] = 200
df.drop(21, axis = 'index', inplace = True)
df.loc[20] = [70, 200]
df

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/body_imperial2.csv', index_col = 0)
df['비만도'] = '정상'
df.loc[:11, 'Gender'] = 'Male'
df.loc[11:, 'Gender'] = 'Female'
df

In [ ]:
liverpool_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/liverpool.csv', index_col = 0)
liverpool_df

In [ ]:
liverpool_df.rename(columns={'position' : 'Position'})

In [ ]:
liverpool_df.rename(columns={'position' : 'Position'}, inplace = True)

In [ ]:
liverpool_df

In [ ]:
liverpool_df.rename(columns={'born' : 'Born', 'number' : 'Number', 'nationality' : 'Nationality'}, inplace = True)
liverpool_df

In [ ]:
liverpool_df.index.name = 'Player name'
liverpool_df

In [ ]:
liverpool_df.set_index('Number')

In [ ]:
liverpool_df.index

In [ ]:
liverpool_df['Player_name'] = liverpool_df.index
liverpool_df

In [ ]:
liverpool_df.set_index('Number')

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/toeic.csv')
df['합격여부'] = (df['LC'] + df['RC'] > 600) & (df['LC'] > 250) & (df['RC'] > 250)
df

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/Puzzle_before.csv')
df['A'] = df['A']  * 2
df

In [ ]:
df[df.loc[:,'B':'E'] < 80] = 0
df[df.loc[:,'B':'E'] >= 80] = 1

In [ ]:
df

In [ ]:
df[df.loc[:,'B':'F'] < 80]

In [8]:
laptops_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/laptops.csv')
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [ ]:
laptops_df.head(3)

In [9]:
laptops_df.shape

(167, 15)

In [10]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [11]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
brand                 167 non-null object
model                 167 non-null object
ram                   167 non-null int64
hd_type               167 non-null object
hd_size               167 non-null int64
screen_size           167 non-null float64
price                 167 non-null int64
processor_brand       167 non-null object
processor_model       167 non-null object
clock_speed           166 non-null float64
graphic_card_brand    163 non-null object
graphic_card_size     81 non-null float64
os                    167 non-null object
weight                160 non-null float64
comments              55 non-null object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [12]:
laptops_df.describe()

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250812
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

In [ ]:
laptops_df.sort_values(by = 'price')

In [ ]:
laptops_df.sort_values(by = 'price', ascending = False)

In [ ]:
laptops_df

In [ ]:
laptops_df.sort_values(by = 'price', ascending = False, inplace = True)
laptops_df

In [ ]:
laptops_df['brand']

In [ ]:
laptops_df['brand'].unique()

In [ ]:
laptops_df['brand'].value_counts()

In [13]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

In [15]:
laptops_df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/laptops.csv')

In [16]:
cities_df['Country'].describe()

NameError: name 'cities_df' is not defined

In [14]:
cities_df['City / Urban area'].describe()

NameError: name 'cities_df' is not defined

In [ ]:
cities_df['Country'].value_counts()

In [ ]:
cities_df['City / Urban area'].value_counts().shape

In [ ]:
cities_df
cities_df['Population'].value_counts()

In [ ]:
type(cities_df)

In [ ]:
cities_df['density'] = cities_df['Population'] / cities_df['Land area (in sqKm)'] 

cities_df.sort_values(by = 'density', ascending = False)

In [ ]:
countries = cities_df['Country'].value_counts()
countries[countries == 4]

In [ ]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/enrolment_1.csv')
df

In [ ]:
df['status'] = 'allowed'
ban_1 = (df['course name'] == 'information technology') & (df['year'] == 1)
df.loc[ban_1, 'status'] = 'not allowed' 
df

In [ ]:
ban_2 = (df['course name'] == 'commerce') & (df['year'] == 4)
df.loc[ban_2, 'status'] = 'not allowed' 
df

In [ ]:
counts_list = df['course name'].value_counts()

count_list = counts_list.index
for course_name in count_list:
    if counts_list[course_name] < 5:
        df.loc[df['course name'] == course_name, 'status'] = 'not allowed'
df

In [ ]:
for course_name in count_list:
    if counts_list[course_name] >= 80:
        df.loc[df['course name'] == course_name, 'room assignment'] = 'Auditorium'
    elif counts_list[course_name] >= 40:
        df.loc[df['course name'] == course_name, 'room assignment'] = 'Large room'
    elif counts_list[course_name] >= 15:
        df.loc[df['course name'] == course_name, 'room assignment'] = 'Medium room'
    else:
        df.loc[df['course name'] == course_name, 'room assignment'] = 'not assigned'
        
df.loc[df['status'] == 'not allowed', 'room assignment'] = 'not assigned'
df

In [2]:
df = pd.read_csv('C:/Users/choyj/Desktop/Python/Data_Science/DataFrame/enrolment_3.csv')
df

           id  year           course name   status room assignment
0     2777729     1               science  allowed      Auditorium
1     2777730     2               science  allowed      Auditorium
2     2777765     1                  arts  allowed      Auditorium
3     2777766     2                  arts  allowed      Auditorium
4     2777785     1                   mba  allowed      Small room
...       ...   ...                   ...      ...             ...
1995  2796805     3  computer application  allowed     Medium room
1996  2796812     1               nursing  allowed     Medium room
1997  2796813     2               nursing  allowed     Medium room
1998  2796814     3               nursing  allowed     Medium room
1999  2796815     4               nursing  allowed     Medium room

[2000 rows x 5 columns]

In [5]:

auditorium = df[df['room assignment'] == 'Auditorium']
auditorium_names = list(auditorium['course name'].value_counts().index)

['arts', 'science', 'commerce']

In [ ]:
df.rename(columns = {'room assignment' : 'room number'})