In [1]:
import numpy as np
import pandas as pd

In [3]:
two_dimensional_list = [['dongwook', 80, 90], ['haneul', 50, 70], ['yongjin', 100, 100]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 80, 90]),
    pd.Series(['haneul', 50, 70]),
    pd.Series(['yongjin', 100, 100])
]

df1 = pd.DataFrame(two_dimensional_list)

In [4]:
two_dimensional_list

[['dongwook', 80, 90], ['haneul', 50, 70], ['yongjin', 100, 100]]

In [5]:
two_dimensional_array

array([['dongwook', '80', '90'],
       ['haneul', '50', '70'],
       ['yongjin', '100', '100']], dtype='<U8')

In [6]:
type(two_dimensional_array)

numpy.ndarray

In [7]:
type(two_dimensional_list)

list

In [8]:
type(list_of_series)

list

In [9]:
df1

          0    1    2
0  dongwook   80   90
1    haneul   50   70
2   yongjin  100  100

In [11]:
import requests
from bs4 import BeautifulSoup

records = []

In [16]:
page_num = 1

In [18]:
records = []
while True:
    # HTML 코드 받아오기
    response = requests.get('https://www.ikea.com/kr/ko/cat/tables-desks-fu004/?page=' + str(page_num))
    # BeautifulSoup 타입으로 변경하기
    soup = BeautifulSoup(response.text, 'html.parser')
    if len(soup.select('.prodName')) > 0:
        product_names = soup.select('.prodName')
        product_prices = soup.select('prodPrice')
        product_urls = soup.select('.prodImg')
        page_num += 1
        
        index = 0
        for name in product_names:
            record = []
            record.append(product_names[index].text)
            record.append(product_prices[index].text.strip())
            record.append("https://www.ikea.com" + product_urls[index].get('src'))
            records.append(record)
            index += 1
    else:
        break
        
print(len(records))
print(records)

0
[]

In [ ]:
df = pd.DataFrame(data = records, columns = ['이름', '가격', '주소'])

In [76]:
records = []
for year in range(2010, 2019):
    for month in range(1, 13):
        page_num = 0
        response = requests.get('https://workey.codeit.kr/ratings/index?year=' + str(year) + '&month=' +str(month) + '&weekIndex=' + str(page_num))
        soup = BeautifulSoup(response.text, 'html.parser')
        periods = soup.select('#weekSelectBox')
        li = periods[0].text
        li = li.strip('\n')
        li = li.split('\n')
        for page in range(len(li)):
            response = requests.get('https://workey.codeit.kr/ratings/index?year=' + str(year) + '&month=' +str(month) + '&weekIndex=' + str(page))
            soup = BeautifulSoup(response.text, 'html.parser')
            ranks = soup.select('.row .rank')
            channels = soup.select('.row .channel')
            programs = soup.select('.row .program')
            percentage = soup.select('.row .percent')                
            index = 0
            for i in range(1, len(ranks)):
                record = []
                record.append(li[page])
                record.append(ranks[i].text)
                record.append(channels[i].text)
                record.append(programs[i].text)
                record.append(percentage[i].text)
                records.append(record)

df = pd.DataFrame(data = records, columns = ['period', 'rank', 'channel', 'program', 'rating'])

In [78]:
df.head()

                    period rank channel        program rating
0  2009.12.28 ~ 2010.01.03    1    KBS2  주말연속극(수상한삼형제)   33.4
1  2009.12.28 ~ 2010.01.03    2    KBS1  일일연속극(다함께차차차)   33.1
2  2009.12.28 ~ 2010.01.03    3    KBS2          해피선데이   27.1
3  2009.12.28 ~ 2010.01.03    4     MBC      MBC연기대상2부   24.4
4  2009.12.28 ~ 2010.01.03    5     SBS   주말극장(천만번사랑해)   24.2

In [85]:
response = requests.get('https://workey.codeit.kr/ratings/index?year=' + str(2012) + '&month=' +str(7) + '&weekIndex=' + str(1))
soup = BeautifulSoup(response.text, 'html.parser')

In [80]:
periods = soup.select('#weekSelectBox')
ranks = soup.select('.row .rank')
programs = soup.select('.row .program')
channels = soup.select('.row .channel')
percentage = soup.select('.row .percent')

In [84]:
channels[1:][1].text

'SBS'

In [ ]:
# 기간 지정
years = list(range(2010, 2019))
months = list(range(1, 13))
weeks = list(range(0, 5))

# 페이지를 담는 빈 리스트 생성
rating_pages = []

for year in years:
    for month in months:
        for week in weeks:
            # HTML 코드 받아오기
            response = requests.get("https://workey.codeit.kr/ratings/index?year=" + str(year) + "&month=" + str(month) + "&weekIndex=" + str(week))

            # BeautifulSoup 타입으로 변환하기
            soup = BeautifulSoup(response.text, 'html.parser')

            # "row" 클래스가 1개를 넘는 경우만 페이지를 리스트에 추가
            if len(soup.select('.row')) > 1:
                rating_pages.append(soup)

# 레코드를 담는 빈 리스트 만들기
records = []

# 각 페이지 파싱해서 정보 얻기
for page in rating_pages:
    date = page.select('option[selected=selected]')[2].text
    ranks = page.select('.row .rank')[1:]
    channels = page.select('.row .channel')[1:]
    programs = page.select('.row .program')[1:]
    percents = page.select('.row .percent')[1:]

    # 페이지에 있는 10개의 레코드를 리스트에 추가
    for i in range(10):
        record = []
        record.append(date)
        record.append(ranks[i].text)
        record.append(channels[i].text)
        record.append(programs[i].text)
        record.append(percents[i].text)
        records.append(record)

# DataFrame 만들기
df = pd.DataFrame(data=records, columns=['period', 'rank', 'channel', 'program', 'rating'])

# 결과 출력
df.head()